body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.header {
    background-color: #1F2937;
    flex: 1;
}

.content {
    flex: 1;
}

.footer {
    background-color: #1F2937;
    flex: 1;
}